
/* Giving the body the specified background color*/
body {
  background: #c5cbda;
}
h1 {
  font-size: 50px;
  font-color: #071f5c
}
.header {
  height: 200px;
  padding-top: 20px;
  background: #7081a3;
}

.header h1 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
}
h3 {
  font-size: 40px;
  font-color: #071f5c
}
.header3 {
  height: 100px;
  padding-top: 10px;
  background: #7081a3;
}

.header3 h3 {
  padding: 20px;
  margin: 0;
  color: #000;
  text-align: center;
}